.root {
	-fx-background-color: #dfdfdf;
}

#graphicalTab {
	-fx-font-family: "Georgia";
}


#tableTab {
	-fx-font-family: "Georgia";
}

#tableTabWordCol {
	-fx-font-family: "Georgia";
}


#tableTabSynCol {
	-fx-font-family: "Georgia";
}

#dualTabWordCol {
	-fx-font-family: "Georgia";
}


#dualTabSynCol {
	-fx-font-family: "Georgia";
}

#mainTable {
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: #544A4E;

}
