.root {
	-fx-background-color: #dfdfdf;
}

#graphicalTab {
	-fx-font-family: "Arial";
}

#graphicalTabContent {
	-fx-background-color: #f2f2f2;
}

#tableTabContent {
	-fx-background-color: #f2f2f2;
}

#dualTabContent {
	-fx-background-color: #f2f2f2;
}

#tableTab {
	-fx-font-family: "Arial";
}

#tableTabWordCol {
	-fx-font-family: "Arial";
}


#tableTabSynCol {
	-fx-font-family: "Arial";
}

#dualTabWordCol {
	-fx-font-family: "Arial";
}


#dualTabSynCol {
	-fx-font-family: "Arial";
}

#mainTable {
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: #544A4E;

}
